.w-100{
  object-fit: contain; 
  background-color: gainsboro; 
  width: 600px;
  height: 600px;
}
.App{    
  height: 100vh;
}
.dark-overlay .container{
   height: 100vh;
}
.landing{
   background: url("./img/bonzo.jpg") no-repeat center; 
  } 
  




